.ui-relative {
    position: relative;
}
.ui-inline-block {
    display: inline-block;
}
.ui-h-full {
    height: 100%;
}
.ui-w-full {
    width: 100%;
}
.ui-overflow-x-auto {
    overflow-x: auto;
}
.ui-whitespace-nowrap {
    white-space: nowrap;
}
.ui-border-b {
    border-bottom-width: 1px;
}
.ui-p-4 {
    padding: 1rem;
}
.ui-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.ui-py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.ui-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ui-text-left {
    text-align: left;
}
.ui-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.ui-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.ui-font-medium {
    font-weight: 500;
}
.ui-shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
